## Wrangling comments

In [4]:
import connectDb as c
import pandas as pd

In [5]:
entity1 = 'Hurricane 3'
entity2 = 'Tenergy 05'
df = c.retrieve_comparative_comments(entity1,entity2)

In [6]:
df.head()

,COMMENT_ID,COMMENT_TEXT,ENTITY1,ENTITY2,ASPECT,DIRECTION
0,1,"You were the shadow to my light,Did you feel us",Hurricane 3,Tenergy 05,overall,l
1,2,"Another start, You fade away",Hurricane 3,Tenergy 05,control,e
2,3,"Afraid our aim is out of sight, Wanna Ses Us, ...",Hurricane 3,Tenergy 05,spin,g
3,11,"You were the shadow to my light,Did you feel us",Hurricane 3,Tenergy 05,overall,e
4,12,"Another start, You fade away",Hurricane 3,Tenergy 05,control,l

In [15]:
tallying = df.groupby(['ASPECT','DIRECTION'])['COMMENT_ID'].count().reset_index()
tallying['SUBGROUP_PCT'] = tallying.COMMENT_ID / tallying.groupby('ASPECT')['COMMENT_ID'].transform('sum') *100
tallying

    ASPECT DIRECTION  COMMENT_ID  SUBGROUP_PCT
0  control         e           1          50.0
1  control         l           1          50.0
2  overall         e           1          50.0
3  overall         l           1          50.0
4     spin         g           2         100.0

In [25]:
## Summarize percentage
tallying_pivot_df = tallying.pivot(index='ASPECT', columns='DIRECTION', values='SUBGROUP_PCT')
tallying_pivot_df.fillna(0,inplace=True)

## Rename using mapping 
col_conversion = dict(e='Equal %',g='{} %'.format(entity1),l='{} %'.format(entity2))
tallying_pivot_df.rename(columns=col_conversion,inplace=True)

In [27]:
tallying_pivot_df.reset_index()

DIRECTION   ASPECT  Equal %  Hurricane 3 %  Tenergy 05 %
0          control     50.0            0.0          50.0
1          overall     50.0            0.0          50.0
2             spin      0.0          100.0           0.0

## Checking Plotly graphics output

In [29]:
%matplotlib inline 
import createBarChart as cbc
import matplotlib.pyplot as plt

entity1 = 'Hurricane 3'  ## Rubber A
entity2 = 'Tenergy 05'  ## Rubber B
df = c.retrieve_comparative_comments(entity1,entity2)
tally_df = cbc.transform_df_barchart(entity1,entity2,df)

In [30]:
tally_df

DIRECTION   ASPECT  Equal %  Hurricane 3 %  Tenergy 05 %
0          control     50.0            0.0          50.0
1          overall     50.0            0.0          50.0
2             spin      0.0          100.0           0.0

In [ ]:
fig = cbc.create_chart(tally_df,entity1,entity2)
fig.show()